* {
 box-sizing: border-box;
}
body {
 font-size: 1.2962962963vh; /* 14px */
}
.v104_1109 {
 width: 100%;
 height: 298.5185185185vh; /* 3223px */
 background: url("../images/v104_1109.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 margin: 1.8518518519vh; /* 20px */
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 box-shadow: 0px 0.3703703704vh 0.3703703704vh rgba(0, 0, 0, 0.25); /* 4px */
 overflow: hidden;
}
.v104_1110 {
 width: 100%;
 height: 298.5185185185vh; /* 3223px */
 background: rgba(245,245,245,1);
 margin: 5.5555555556vh; /* 60px */
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1111 {
 width: 100%;
 height: 39.5370370370vh; /* 427px */
 background: url("https://cdn.imgpaste.net/2023/12/21/KQPXfU.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 padding: 3.7037037037vh 34.2592592593vh; /* 40px 370px */
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1112 {
 width: 100%;
 height: 39.5370370370vh; /* 427px */
 background: rgba(0,0,0,0.20000000298023224);
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1113 {
 width: 100%;
 height: 34.0277777778vh; /* 367px */
 background: url("../images/v104_1113.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 padding: 9.2592592593vh 0px; /* 100px 0px */
 opacity: 1;
 position: absolute;
 top: 3.7037037037vh; /* 40px */
 left: 34.2592592593vh; /* 370px */
 overflow: hidden;
}
.v104_1114 {
 width: 74.0740740741vh; /* 800px */
 height: 18.5185185185vh; /* 200px */
 background: url("../images/v104_1114.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 9.2592592593vh; /* 100px */
 left: 0px;
 overflow: hidden;
}
.v104_1115 {
 width: 74.0740740741vh; /* 800px */
 color: rgba(255,255,255,1);
 position: absolute;
 top: 0px;
 left: 0px;
 font-family: Neutral Face;
 font-weight: Bold;
 font-size: 5.1851851852vh; /* 56px */
 opacity: 1;
 text-align: left;
}
.v104_1116 {
 width: 100%;
 height: 253.3333333333vh; /* 2736px */
 background: url("../images/v104_1116.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 45.0925925926vh; /* 487px */
 left: 0px;
 overflow: hidden;
}
.v104_1117 {
 width: 100%;
 height: 20.0000000000vh; /* 216px */
 background: url("../images/v104_1117.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1118 {
 width: 100%;
 height: 20.0000000000vh; /* 216px */
 background: url("../images/v104_1118.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 34.2592592593vh; /* 370px */
 overflow: hidden;
}
.v104_1119 {
 width: 76.4814814815vh; /* 826px */
 height: 20.0000000000vh; /* 216px */
 background: url("../images/v104_1119.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1120 {
 width: 76.4814814815vh; /* 826px */
 color: rgba(0,0,20,1);
 position: absolute;
 top: 0px;
 left: 0px;
 font-family: Benzin;
 font-weight: Regular;
 font-size: 1.8518518519vh; /* 20px */
 opacity: 1;
 text-align: left;
}
.v104_1121 {
 width: 100%;
 height: 37.2222222222vh; /* 402px */
 background: url("../images/v104_1121.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 24.2592592593vh; /* 262px */
 left: 0px;
 overflow: hidden;
}
.v104_1122 {
 width: 100%;
 height: 37.2222222222vh; /* 402px */
 background: url("../images/v104_1122.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 34.2592592593vh; /* 370px */
 overflow: hidden;
}
.v104_1123 {
 width: 54.6296296296vh; /* 590px */
 height: 32.0370370370vh; /* 345px */
 background: url("../images/v104_1123.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 213.3333333333vh; /* 2308px */
 left: 0px;
 overflow: hidden;
}
.v104_1124 {
 width: 49.1666666666vh; /* 531px */
 height: 32.0370370370vh; /* 345px */
 background: url("../images/v104_1124.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 213.3333333333vh; /* 2308px */
 left: 78.3333333333vh; /* 845px */
 overflow: hidden;
}
.v104_1125 {
 width: 24.6296296296vh; /* 266px */
 height: 22.2222222222vh; /* 240px */
 background: url("../images/v104_1125.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 8.4259259259vh; /* 91px */
 left: 0px;
 overflow: hidden;
}
.v104_1126 {
 width: 33.1481481481vh; /* 358px */
 color: rgba(86,60,92,1);
 position: absolute;
 top: 0px;
 left: 0px;
 font-family: Neutral Face;
 font-weight: Bold;
 font-size: 5.9259259259vh; /* 64px */
 opacity: 1;
 text-align: left;
}
.v104_1129 {
 width: 43.9814814815vh; /* 475px */
 height: 5.0000000000vh; /* 54px */
 background: url("../images/v104_1129.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 27.4074074074vh; /* 296px */
 left: 0px;
 overflow: hidden;
}
.v104_1131 {
 width: 54.6296296296vh; /* 590px */
 height: 37.2222222222vh; /* 402px */
 background: rgba(255,255,255,1);
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 54.6296296296vh; /* 590px */
 overflow: hidden;
}
.v104_1132 {
 width: 54.6296296296vh; /* 590px */
 height: 36.3888888889vh; /* 393px */
 background: url("https://cdn.imgpaste.net/2023/12/21/KQPdEB.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1133 {
 width: 100%;
 height: 55.4629629630vh; /* 599px */
 background: url("../images/v104_1133.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 84.7222222222vh; /* 915px */
 left: 0px;
 overflow: hidden;
}
.v104_1134 {
 width: 100%;
 height: 55.4629629630vh; /* 599px */
 background: url("../images/v104_1134.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 margin: 5.9259259259vh; /* 64px */
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 34.2592592593vh; /* 370px */
 overflow: hidden;
}
.v104_1148 {
 width: 54.6296296296vh; /* 590px */
 height: 31.5740740741vh; /* 341px */
 background: url("../images/v104_1148.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 11.9444444444vh; /* 129px */
 left: 0px;
 overflow: hidden;
}
.v104_1149 {
 width: 54.6296296296vh; /* 590px */
 height: 30.7407407407vh; /* 332px */
 background: url("https://cdn.imgpaste.net/2023/12/21/KQPsrY.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v125_4 {
 width: 44.0740740741vh; /* 476px */
 color: rgba(0,0,20,1);
 position: absolute;
 top: 13.4259259259vh; /* 145px */
 left: 60.5555555556vh; /* 654px */
 font-family: Benzin;
 font-weight: Regular;
 font-size: 1.8518518519vh; /* 20px */
 opacity: 1;
 text-align: left;
}
.v104_1135 {
 width: 49.1666666667vh; /* 531px */
 height: 55.4629629630vh; /* 599px */
 background: url("../images/v104_1135.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 110.5555555556vh; /* 1194px */
 overflow: hidden;
}
.v104_1136 {
 width: 49.1666666667vh; /* 531px */
 height: 55.4629629630vh; /* 599px */
 background: url("../images/v104_1136.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1137 {
 width: 18.4259259259vh; /* 199px */
 height: 15.5555555556vh; /* 168px */
 background: url("../images/v104_1137.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 11.5740740741vh; /* 125px */
 left: 0px;
 overflow: hidden;
}
.v108_3 {
 width: 38.5185185185vh; /* 416px */
 color: rgba(0,0,20,1);
 position: absolute;
 top: 74.9074074074vh; /* 809px */
 left: 70.9259259259vh; /* 766px */
 font-family: Neutral Face;
 font-weight: Bold;
 font-size: 5.9259259259vh; /* 64px */
 opacity: 1;
 text-align: center;
}
.v104_1150 {
 width: 100%;
 height: 37.5vh; /* 405px */
 background: url("../images/v104_1150.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 147.5vh; /* 1593px */
 left: 0px;
 overflow: hidden;
}
.v104_1151 {
 width: 100%;
 height: 37.4074074074vh; /* 404px */
 background: url("../images/v104_1151.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 34.2592592593vh; /* 370px */
 overflow: hidden;
}
.v104_1152 {
 width: 54.6296296296vh; /* 590px */
 height: 37.4074074074vh; /* 404px */
 background: url("../images/v104_1152.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1153 {
 width: 49.1666666667vh; /* 531px */
 height: 37.4074074074vh; /* 404px */
 background: url("../images/v104_1153.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1158 {
 width: 49.1666666667vh; /* 531px */
 height: 10.0vh; /* 108px */
 background: url("../images/v104_1158.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 17.4074074074vh; /* 188px */
 left: 0px;
 overflow: hidden;
}
.v104_1133 {
 width: 100%;
 height: 55.4629629630vh; /* 599px */
 background: url("../images/v104_1133.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 84.7222222222vh; /* 915px */
 left: 0px;
 overflow: hidden;
}
.v104_1134 {
 width: 100%;
 height: 55.4629629630vh; /* 599px */
 background: url("../images/v104_1134.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 margin: 5.9259259259vh; /* 64px */
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 34.2592592593vh; /* 370px */
 overflow: hidden;
}
.v104_1148 {
 width: 54.6296296296vh; /* 590px */
 height: 31.5740740741vh; /* 341px */
 background: url("../images/v104_1148.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 11.9444444444vh; /* 129px */
 left: 0px;
 overflow: hidden;
}
.v104_1149 {
 width: 54.6296296296vh; /* 590px */
 height: 30.7407407407vh; /* 332px */
 background: url("https://cdn.imgpaste.net/2023/12/21/KQPsrY.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v125_4 {
 width: 44.0740740741vh; /* 476px */
 color: rgba(0,0,20,1);
 position: absolute;
 top: 13.4259259259vh; /* 145px */
 left: 60.5555555556vh; /* 654px */
 font-family: Benzin;
 font-weight: Regular;
 font-size: 1.8518518519vh; /* 20px */
 opacity: 1;
 text-align: left;
}
.v104_1135 {
 width: 49.1666666667vh; /* 531px */
 height: 55.4629629630vh; /* 599px */
 background: url("../images/v104_1135.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 110.5555555556vh; /* 1194px */
 overflow: hidden;
}
.v104_1136 {
 width: 49.1666666667vh; /* 531px */
 height: 55.4629629630vh; /* 599px */
 background: url("../images/v104_1136.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1137 {
 width: 18.4259259259vh; /* 199px */
 height: 15.5555555556vh; /* 168px */
 background: url("../images/v104_1137.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 11.5740740741vh; /* 125px */
 left: 0px;
 overflow: hidden;
}
.v108_3 {
 width: 38.5185185185vh; /* 416px */
 color: rgba(0,0,20,1);
 position: absolute;
 top: 74.9074074074vh; /* 809px */
 left: 70.9259259259vh; /* 766px */
 font-family: Neutral Face;
 font-weight: Bold;
 font-size: 5.9259259259vh; /* 64px */
 opacity: 1;
 text-align: center;
}
.v104_1150 {
 width: 100%;
 height: 37.5vh; /* 405px */
 background: url("../images/v104_1150.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 147.5vh; /* 1593px */
 left: 0px;
 overflow: hidden;
}
.v104_1151 {
 width: 100%;
 height: 37.4074074074vh; /* 404px */
 background: url("../images/v104_1151.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 34.2592592593vh; /* 370px */
 overflow: hidden;
}
.v104_1152 {
 width: 54.6296296296vh; /* 590px */
 height: 37.4074074074vh; /* 404px */
 background: url("../images/v104_1152.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1153 {
 width: 49.1666666667vh; /* 531px */
 height: 37.4074074074vh; /* 404px */
 background: url("../images/v104_1153.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 0px;
 left: 0px;
 overflow: hidden;
}
.v104_1158 {
 width: 49.1666666667vh; /* 531px */
 height: 10.0vh; /* 108px */
 background: url("../images/v104_1158.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 1;
 position: absolute;
 top: 17.4074074074vh; /* 188px */
 left: 0px;
 overflow: hidden;
}

.v104_1167 {
 width: 28.125vh; /* 540px */
 color: rgba(0,0,20,1);
 position: absolute;
 top: 202.7777777778vh; /* 2175px */
 left: 15.2777777778vh; /* 305px */
 font-family: Neutral Face;
 font-weight: Bold;
 font-size: 3.3333333333vh; /* 36px */
 opacity: 1;
 text-align: left;
}
.v127_7 {
 width: 100%;
 color: rgba(0,0,0,1);
 position: absolute;
 top: 142.5925925926vh; /* 1538px */
 left: 14.1666666667vh; /* 287px */
 font-family: Neutral Face;
 font-weight: Bold;
 font-size: 3.3333333333vh; /* 36px */
 opacity: 1;
 text-align: left;
}
.v127_8 {
 width: 74.5370370370vh; /* 805px */
 color: rgba(0,0,0,1);
 position: absolute;
 top: 91.2037037037vh; /* 985px */
 left: 94.8148148148vh; /* 1024px */
 font-family: Neutral Face;
 font-weight: Bold;
 font-size: 3.3333333333vh; /* 36px */
 opacity: 1;
 text-align: left;
}
.v258_2 {
 width: 39.1666666667vh; /* 423px */
 height: 31.9444444444vh; /* 345px */
 background: url("https://cdn.imgpaste.net/2023/12/21/KQP3LS.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: contain;
 opacity: 1;
 position: absolute;
 top: 213.3333333333vh; /* 2308px */
 left: 15.2777777778vh; /* 305px */
 overflow: hidden;
}
.v258_4 {
 width: 39.1666666667vh; /* 423px */
 height: 31.9444444444vh; /* 345px */
 background: url("https://cdn.imgpaste.net/2023/12/21/KQP1xm.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: contain;
 opacity: 1;
 position: absolute;
 top: 213.3333333333vh; /* 2308px */
 left: 78.2407407407vh; /* 845px */
 overflow: hidden;
}
.v258_5 {
 width: 39.1666666667vh; /* 423px */
 height: 31.9444444444vh; /* 345px */
 background: url("https://cdn.imgpaste.net/2023/12/21/KQPArN.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: contain;
 opacity: 1;
 position: absolute;
 top: 213.3333333333vh; /* 2308px */
 left: 125.0vh; /* 1352px */
 overflow: hidden;
}
.v104_1273 {
 width: 100%;
 height: 11.1111111111vh; /* 120px */
 background: url("../images/v104_1273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
