* {
  box-sizing: border-box;
}
body {
  font-size: 0.7291666666666666vw;
}
.v104_1109 {
  width: 100%;
  height: 298.5185185185vh;
  background: url("../images/v104_1109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1.0416666666666667vw;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0.20833333333333334vw 0.20833333333333334vw rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v104_1110 {
  width: 100%;
  height: 298.5185185185vh;
  background: rgba(245,245,245,1);
  margin: 3.125vw;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1111 {
  width: 100%;
  height: 22.239583333333332vh;
  background: url("https://cdn.imgpaste.net/2023/12/21/KQPXfU.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2.0833333333333335vw 19.270833333333332vw;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1112 {
  width: 100%;
  height: 22.239583333333332vh;
  background: rgba(0,0,0,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1113 {
  width: 100%;
  height: 19.114583333333332vh;
  background: url("../images/v104_1113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5.208333333333333vw 0px;
  opacity: 1;
  position: absolute;
  top: 2.0833333333333335vw;
  left: 19.270833333333332vw;
  overflow: hidden;
}
.v104_1114 {
  width: 41.666666666666664vw;
  height: 10.416666666666666vh;
  background: url("../images/v104_1114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5.208333333333333vw;
  left: 0px;
  overflow: hidden;
}
.v104_1115 {
  width: 41.666666666666664vw;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Neutral Face;
  font-weight: Bold;
  font-size: 2.9166666666666665vw;
  opacity: 1;
  text-align: left;
}
.v104_1116 {
  width: 100%;
  height: 142.5vh;
  background: url("../images/v104_1116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25.364583333333332vw;
  left: 0px;
  overflow: hidden;
}
.v104_1117 {
  width: 100%;
  height: 11.25vh;
  background: url("../images/v104_1117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1118 {
  width: 100%;
  height: 11.25vh;
  background: url("../images/v104_1118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19.270833333333332vw;
  overflow: hidden;
}
.v104_1119 {
  width: 43.020833333333336vw;
  height: 11.25vh;
  background: url("../images/v104_1119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1120 {
  width: 43.020833333333336vw;
  color: rgba(0,0,20,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Benzin;
  font-weight: Regular;
  font-size: 1.0416666666666667vw;
  opacity: 1;
  text-align: left;
}
.v104_1121 {
  width: 100%;
  height: 20.9375vh;
  background: url("../images/v104_1121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13.645833333333334vw;
  left: 0px;
  overflow: hidden;
}
.v104_1122 {
  width: 100%;
  height: 20.9375vh;
  background: url("../images/v104_1122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19.270833333333332vw;
  overflow: hidden;
}
.v104_1123 {
  width: 30.729166666666668vw;
  height: 19.166666666666668vh;
  background: url("../images/v104_1123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1124 {
  width: 27.65625vw;
  height: 19.166666666666668vh;
  background: url("../images/v104_1124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1125 {
  width: 13.854166666666666vw;
  height: 12.5vh;
  background: url("../images/v104_1125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4.739583333333333vw;
  left: 0px;
  overflow: hidden;
}
.v104_1126 {
  width: 18.645833333333332vw;
  color: rgba(86,60,92,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Neutral Face;
  font-weight: Bold;
  font-size: 3.3333333333333335vw;
  opacity: 1;
  text-align: left;
}
.v104_1129 {
  width: 24.739583333333332vw;
  height: 2.8125vh;
  background: url("../images/v104_1129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15.416666666666666vh;
  left: 0px;
  overflow: hidden;
}
.v104_1131 {
  width: 30.729166666666668vw;
  height: 20.9375vh;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30.729166666666668vw;
  overflow: hidden;
}
.v104_1132 {
  width: 30.729166666666668vw;
  height: 20.46875vh;
  background: url("https://cdn.imgpaste.net/2023/12/21/KQPTV5.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1133 {
  width: 100%;
  height: 31.197916666666668vh;
  background: url("../images/v104_1133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47.65625vh;
  left: 0px;
  overflow: hidden;
}
.v104_1134 {
  width: 100%;
  height: 31.197916666666668vh;
  background: url("../images/v104_1134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 3.3333333333333335vw;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19.270833333333332vw;
  overflow: hidden;
}
.v104_1148 {
  width: 30.729166666666668vw;
  height: 17.760416666666668vh;
  background: url("../images/v104_1148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6.71875vh;
  left: 0px;
  overflow: hidden;
}
.v104_1149 {
  width: 30.729166666666668vw;
  height: 17.291666666666668vh;
  background: url("https://cdn.imgpaste.net/2023/12/21/KQPsrY.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v125_4 {
  width: 24.791666666666668vw;
  color: rgba(0,0,20,1);
  position: absolute;
  top: 7.552083333333333vw;
  left: 34.0625vw;
  font-family: Benzin;
  font-weight: Regular;
  font-size: 1.0416666666666667vw;
  opacity: 1;
  text-align: left;
}
.v104_1135 {
  width: 27.65625vw;
  height: 31.197916666666668vh;
  background: url("../images/v104_1135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 62.1875vw;
  overflow: hidden;
}
.v104_1136 {
  width: 27.65625vw;
  height: 31.197916666666668vh;
  background: url("../images/v104_1136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1137 {
  width: 10.364583333333334vw;
  height: 8.75vh;
  background: url("../images/v104_1137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6.510416666666667vw;
  left: 0px;
  overflow: hidden;
}
.v108_3 {
  width: 21.666666666666668vw;
  color: rgba(0,0,20,1);
  position: absolute;
  top: 42.135416666666664vw;
  left: 39.895833333333336vw;
  font-family: Neutral Face;
  font-weight: Bold;
  font-size: 3.3333333333333335vw;
  opacity: 1;
  text-align: center;
}
.v104_1150 {
  width: 100%;
  height: 21.09375vh;
  background: url("../images/v104_1150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83.07291666666667vw;
  left: 0px;
  overflow: hidden;
}
.v104_1151 {
  width: 100%;
  height: 21.041666666666668vh;
  background: url("../images/v104_1151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19.270833333333332vw;
  overflow: hidden;
}
.v104_1152 {
  width: 30.729166666666668vw;
  height: 21.041666666666668vh;
  background: url("../images/v104_1152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1153 {
  width: 27.65625vw;
  height: 21.041666666666668vh;
  background: url("../images/v104_1153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1158 {
  width: 27.65625vw;
  height: 5.625vh;
  background: url("../images/v104_1158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9.791666666666666vw;
  left: 0px;
  overflow: hidden;
}
.v126_5 {
  width: 27.1875vw;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1.40625vw;
  left: 3.6458333333333335vw;
  font-family: Benzin;
  font-weight: Regular;
  font-size: 1.0416666666666667vw;
  opacity: 1;
  text-align: left;
}
.v104_1161 {
  width: 30.729166666666668vw;
  height: 20.9375vh;
  background: url("../images/v104_1161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30.729166666666668vw;
  overflow: hidden;
}
.v104_1162 {
  width: 30.729166666666668vw;
  height: 20.46875vh;
  background: url("https://cdn.imgpaste.net/2023/12/21/KQPdEB.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_1167 {
  width: 28.125vw;
  color: rgba(0,0,20,1);
  position: absolute;
  top: 113.38541666666667vw;
  left: 15.885416666666666vw;
  font-family: Neutral Face;
  font-weight: Bold;
  font-size: 1.875vw;
  opacity: 1;
  text-align: left;
}
.v127_7 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 80.20833333333333vw;
  left: 14.947916666666666vw;
  font-family: Neutral Face;
  font-weight: Bold;
  font-size: 1.875vw;
  opacity: 1;
  text-align: left;
}
.v127_8 {
  width: 41.927083333333336vw;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 51.354166666666664vw;
  left: 53.333333333333336vw;
  font-family: Neutral Face;
  font-weight: Bold;
  font-size: 1.875vw;
  opacity: 1;
  text-align: left;
}
.v258_2 {
  width: 22.03125vw;
  height: 17.96875vh;
  background: url("https://cdn.imgpaste.net/2023/12/21/KQP3LS.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 120.20833333333333vw;
  left: 15.885416666666666vw;
  overflow: hidden;
}
.v258_4 {
  width: 22.03125vw;
  height: 17.96875vh;
  background: url("https://cdn.imgpaste.net/2023/12/21/KQP1xm.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 120.20833333333333vw;
  left: 44.010416666666664vw;
  overflow: hidden;
}
.v258_5 {
  width: 22.03125vw;
  height: 17.96875vh;
  background: url("https://cdn.imgpaste.net/2023/12/21/KQPArN.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 120.20833333333333vw;
  left: 70.41666666666667vw;
  overflow: hidden;
}
.v104_1273 {
  width: 100%;
  height: 6.25vh;
  background: url("../images/v104_1273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
