@font-face {
    font-family: 'Glowist';
    src: url('Glowist.otf') format('opentype');
}

@font-face {
    font-family: 'NeutralFace-Bold';
    src: url('NeutralFace-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'NeutralFace';
    src: url('NeutralFace.otf') format('opentype');
}

@font-face {
    font-family: 'Benzin';
    src: url('Supremat - Benzin Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Windsore-Script';
    src: url('Windsore-Script.otf') format('opentype');
}* {
  box-sizing: border-box;
}
body {
  font-size: 1.3020833333333333vh; /* 14px */
}
.v115_387 {
  width: 100vw; /* 100% */
  height: 211.85185185185185vh; /* 2288px */
  background: url("../images/v115_387.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -5vh; /* -54px */
  opacity: 1;
  position: absolute;
  top: 0vw; /* 0px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_388 {
  width: 100vw; /* 100% */
  height: 66.85185185185185vh; /* 722px */
  background: url("https://cdn.imgpaste.net/2023/12/21/KQOwnq.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3.7037037037037037vh 19.270833333333332vw; /* 40px 370px */
  opacity: 1;
  position: absolute;
  top: 0vw; /* 0px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_389 {
  width: 100vw; /* 100% */
  height: 66.85185185185185vh; /* 722px */
  background: rgba(0,0,0,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 0vw; /* 0px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_390 {
  width: 100vw; /* 100% */
  height: 26.574074074074073vh; /* 287px */
  background: url("../images/v115_390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 9.25925925925926vh 0vw; /* 100px 0px */
  opacity: 1;
  position: absolute;
  top: 21.01851851851852vh; /* 227px */
  left: 19.270833333333332vw; /* 370px */
  overflow: hidden;
}
.v115_391 {
  width: 41.666666666666664vw; /* 800px */
  height: 11.11111111111111vh; /* 120px */
  background: url("../images/v115_391.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9.25925925925926vh; /* 100px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_393 {
  width: 100vw; /* 100% */
  height: 150vh; /* 1620px */
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 61.851851851851855vh; /* 668px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_412 {
  width: 30.729166666666668vw; /* 590px */
  height: 0.09259259259259259vh; /* 1px */
  background: url("../images/v115_412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60.370370370370374vh; /* 652px */
  left: 37.135416666666664vw; /* 713px */
  overflow: hidden;
}
.v115_425 {
  width: 30.729166666666668vw; /* 590px */
  height: 54.629629629629626vh; /* 590px */
  background: url("https://cdn.imgpaste.net/2023/12/21/KQUJyU.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58.7037037037037vh; /* 634px */
  left: 51.197916666666664vw; /* 983px */
  overflow: hidden;
}
.v115_408 {
  width: 30.729166666666668vw; /* 590px */
  height: 37.22222222222222vh; /* 402px */
  background: url("../images/v115_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10.833333333333334vh; /* 117px */
  left: 50vw; /* 960px */
  overflow: hidden;
}
.v115_409 {
  width: 30.729166666666668vw; /* 590px */
  height: 36.388888888888886vh; /* 393px */
  background: url("https://cdn.imgpaste.net/2023/12/06/KPwPpm.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0vw; /* 0px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_437 {
  width: 100vw; /* 100% */
  height: 25.74074074074074vh; /* 278px */
  background: url("../images/v115_437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 116.29629629629629vh; /* 1256px */
  left: 19.270833333333332vw; /* 370px */
  overflow: hidden;
}
.v115_438 {
  width: 100vw; /* 100% */
  height: 28.14814814814815vh; /* 304px */
  background: url("../images/v115_438.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0.2777777777777778vh 0vw; /* 3px 0px */
  opacity: 1;
  position: absolute;
  top: 0vw; /* 0px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_439 {
  width: 100vw; /* 100% */
  height: 11.296296296296296vh; /* 122px */
  background: url("../images/v115_439.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2.1296296296296298vh 0vw; /* 23px 0px */
  opacity: 1;
  position: absolute;
  top: 0.2777777777777778vh; /* 3px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_440 {
  width: 42.604166666666664vw; /* 818px */
  color: rgba(0,0,20,1);
  position: absolute;
  top: 2.1296296296296298vh; /* 23px */
  left: 0vw; /* 0px */
  font-family: NeutralFace-Bold;
  font-weight: Bold;
  font-size: 3.3333333333333335vh; /* 36px */
  opacity: 1;
  text-align: left;
}
.v115_441 {
  width: 100vw; /* 100% */
  height: 16.574074074074073vh; /* 179px */
  background: url("../images/v115_441.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11.574074074074074vh; /* 125px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_442 {
  width: 20.260416666666668vw; /* 389px */
  height: 12.5vh; /* 135px */
  background: url("../images/v115_442.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0vw; /* 0px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_443 {
  width: 7.03125vw; /* 135px */
  height: 12.5vh; /* 135px */
  background: url("../images/v115_443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0vw; /* 0px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_444 {
  width: 7.03125vw; /* 135px */
  height: 12.5vh; /* 135px */
  background: url("https://cdn.imgpaste.net/2024/01/27/SVPXXm.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0vw; /* 0px */
  left: 0vw; /* 0px */
  border-top-left-radius: 3.4895833333333335vw; /* 67px */
  border-top-right-radius: 3.4895833333333335vw; /* 67px */
  border-bottom-left-radius: 3.4895833333333335vw; /* 67px */
  border-bottom-right-radius: 3.4895833333333335vw; /* 67px */
  overflow: hidden;
}
.v115_445 {
  width: 9.947916666666666vw; /* 191px */
  height: 12.5vh; /* 135px */
  background: url("../images/v115_445.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0vw; /* 0px */
  left: 7.03125vw; /* 135px */
  overflow: hidden;
}
.v115_446 {
  width: 8.697916666666666vw; /* 167px */
  height: 1.6666666666666667vh; /* 18px */
  background: url("../images/v115_446.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3.7962962962962963vh; /* 41px */
  left: 1.5625vw; /* 30px */
  overflow: hidden;
}
.v115_447 {
  width: 7.395833333333333vw; /* 142px */
  color: rgba(0,0,20,1);
  position: absolute;
  top: 0.2777777777777778vh; /* 3px */
  left: 0vw; /* 0px */
  font-family: Inter;
  font-weight: Bold;
  font-size: 1.6666666666666667vh; /* 18px */
  opacity: 1;
  text-align: left;
}
.v115_448 {
  width: 1.09375vw; /* 21px */
  height: 1.9444444444444444vh; /* 21px */
  background: url("../images/v115_448.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0.2777777777777778vh; /* 3px */
  left: 7.552083333333333vw; /* 145px */
  overflow: hidden;
}
.v115_449 {
  width: 1.09375vw; /* 21px */
  height: 1.9444444444444444vh; /* 21px */
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0vw; /* 0px */
  left: 0vw; /* 0px */
  overflow: hidden;
}
.v115_451 {
  width: 11.458333333333334vw; /* 220px */
  height: 2.5vh; /* 27px */
  background: url("../images/v115_451.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2.962962962962963vh; /* 32px */
  left: 0.5729166666666666vw; /* 11px */
  overflow: hidden;
}
.v115_453 {
  width: 8.125vw; /* 156px */
  height: 7.222222222222222vh; /* 78px */
  background: url("../images/v115_453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 1.7592592592592593vh 0vw; /* 19px 0px */
  opacity: 1;
  position: absolute;
  top: 3.7037037037037037vh; /* 40px */
  left: 1.5104166666666667vw; /* 29px */
  overflow: hidden;
}
.v115_452 {
  width: 6.09375vw; /* 117px */
  color: rgba(0,0,20,1);
  position: absolute;
  top: 1.7592592592592593vh; /* 19px */
  left: 0vw; /* 0px */
  font-family: Inter;
  font-weight: Regular;
  font-size: 1.1111111111111112vh; /* 12px */
  opacity: 1;
  text-align: left;
}
.v115_454 {
  width: 7.1875vw; /* 138px */
  color: rgba(38,38,38,1);
  position: absolute;
  top: 4.2592592592592595vh; /* 46px */
  left: 0vw; /* 0px */
  font-family: Inter;
  font-weight: Regular;
  font-size: 1.1111111111111112vh; /* 12px */
  opacity: 1;
  text-align: left;
}
.v156_4 {
  width: 30.833333333333332vw; /* 592px */
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17.59259259259259vh; /* 190px */
  left: 9.84375vw; /* 189px */
  font-family: Benzin;
  font-weight: Regular;
  font-size: 1.8518518518518519vh; /* 20px */
  opacity: 1;
  text-align: left;
}
.v157_5 {
  width: 26.09375vw; /* 501px */
  color: url("../images/v157_5.png");
  position: absolute;
  top: 44.53703703703704vh; /* 481px */
  left: 16.822916666666668vw; /* 323px */
  font-family: Benzin;
  font-weight: Bold;
  font-size: 2.2222222222222223vh; /* 24px */
  opacity: 1;
  text-align: left;
}
.v159_10 {
  width: 511px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 707px;
  left: 189px;
  font-family: Benzin;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v159_6 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 189px;
  font-family: NeutralFace-Bold;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
